* {
  box-sizing: border-box;
  /* 꼭 해줄 것!! */
}

body {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 300px;
  height: 500px;
  background-color: rgb(240, 238, 238);
  box-shadow: 0px 0px 30px lightgray;
  border-radius: 30px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background: linear-gradient(to bottom right, #ddffbc, pink);
  color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* border-radius: 30px 30px 0 0; 으로 한줄로 처리 가능 */
}

header div {
  font-size: 20px;
  font-weight: bold;
}

ul {
  height: 70%;
  list-style: none;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

li button {
  border-style: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #ddffbc, pink);
  height: 20%;
  border-radius: 0 0 30px 30px;
}

.footer input {
  width: 100%;
  height: 30%;
  border: 0px solid transparent;
  padding: 0;
  outline: none;
  /* 눌렀을 때 보이는 파란 line을 없애줌 */
}

.footer__button {
  height: 70%;
  color: white;
  border-style: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 100ms ease-in;
  background-color: transparent;
}

.footer__button:hover {
  transform: scale(1.1);
}
